<!DOCTYPE html>
<html>
      <head>
        <style>
          /* Add your CSS styles here */
          .container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            
          }
          .banner {
            display: flex;
            height: 50vh;
            border-color: black;
          
            background:  linear-gradient(90deg, rgba(18,94,203,1) 0%, rgba(67,21,198,1) 46%, rgba(170,18,55,1) 60%, rgba(255,164,0,1) 100%);

          }
          .left-side {
            background: linear-gradient(to bottom, #113af1, #79bde7),;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .right-side {
            background-color: red;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .side {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .logo {
            background-color: white(0%, 0%, 100%, 0.75);
            border-radius: 50%;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          
          
          .character-stats1 {
            position: absolute;
            top: 94%;
            left: 16%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .character-stats1 img {
            width: 200px !important;
            height: 200px !important;
          }
          .character-stats2 {
            position: absolute;
            top: 94%;
            right: 16%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .character-stats2 img {
            width: 200px !important;
            height: 200px !important;
          }
          .stat1 {
            margin-bottom: 10px;
          }
          .stat2 {
            margin-bottom: 10px;
          }
          .grid1 {
            margin-bottom: 64px;
            border-radius: 40px;
        border: 3px solid #46F4FF;
        border-radius: 40px;
            background-color: #323232;
            border-radius: 40px;
            position: relative;
        display: grid;
        width: 80%;
        height: 100%;
        grid-template-columns: repeat(5, 1fr);
        
        grid-gap: 10px;
        padding: 10px;
      }
      img {
        object-fit: cover;
        object-position: bottom;
      }
      .gridbtn1 {
        border-radius: 64px;
        border: 3px solid #46F4FF;
        border-radius: 40px;
      }
      .gridbtn2 {
        border: 3px solid #FFA34F;
        border-radius: 40px;
      }
      .grid1 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            border-radius: 48px;
          }
          .grid2 {
            margin-bottom: 64px;
            background: #323232;
            border: 3px solid #FFA34F;
            border-radius: 40px;
            position: relative;
            display: grid;
            width: 80%;
            height: 100%;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            
            grid-gap: 10px;
            padding: 10px;
      }
      .grid2 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            border-radius: 48px;
          }
          .button {
            position: bottom;
            background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
          }
          #fight-button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        position: bottom;
            background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
        cursor: pointer;
      }

      #winner {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
      }
        </style>
      </head>
      <body style="margin: 0;">
       
          <div class="banner" style="  position: relative">
            <img class="logo" src="public\images\logo.png" alt="Round logo" style="position: absolute;  ">
          </div>
        
          
        <div style="background:  linear-gradient(90deg, rgba(18,94,203,1) 0%, rgba(67,21,198,1) 46%, rgba(170,18,55,1) 60%, rgba(255,164,0,1) 100%); display: flex; flex-direction: column; align-items: center;">
        <div class="container">
        <div class="side" >
            <div class="grid1" >
            
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/amerique man.png" alt="Character 10" id="character-10">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/black panther.png" alt="Character 7" id="character-7">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/policier.png" alt="Character 3" id="character-3">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/hulk.png" alt="Character 4" id="character-4">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/jojo.png" alt="Character 1" id="character-1">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/blackwidow.png" alt="Character 5" id="character-5">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/fer man.png" alt="Character 6" id="character-6">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/spiderman.png" alt="Character 2" id="character-2">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/superman.png" alt="Character 8" id="character-8">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/wonder woman.png" alt="Character 9" id="character-9">
              </button>
            </div>
            <div class="character-stats2"></div>
            <img src="public/images/volcan.png", style="height: 50%; width: 50%; border-radius: 40px;">
            </div>
              <!-- Add more buttons here -->
            <div><img src="public/images/Street_Fighter_VS_logo.png" alt="vs"> </div>
            <div class="side" >
              <div class="grid2">
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/amerique man.png" alt="Character 10" id="character-10">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/black panther.png" alt="Character 7" id="character-7">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/policier.png" alt="Character 3" id="character-3">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/hulk.png" alt="Character 4" id="character-4">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/jojo.png" alt="Character 1" id="character-1">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/blackwidow.png" alt="Character 5" id="character-5">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/fer man.png" alt="Character 6" id="character-6">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/spiderman.png" alt="Character 2" id="character-2">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/superman.png" alt="Character 8" id="character-8">
                </button>
                <button class="btn gridbtn1 btn-primary">
                  <img src="public/images/wonder woman.png" alt="Character 9" id="character-9">
                </button>
              <!-- Add more buttons here -->
            </div>
            <div class="character-stats1"></div>
            <img src="public/images/volcan.png", style="height: 50%; width: 50%; border-radius: 40px;">


         
        </div>
       
      </div>
      <div id="winner"></div>
      <button id="fight-button" disabled><img src="public/images/fight.png"></button>
      
        
      
        
          
       
      
    </div>   <!-- Character stats will be added here -->
    </div>   <!-- Character stats will be added here -->
          
      </body>
      <script>
        let selectedCharacter1;
        let selectedCharacter2;
        // Add event listeners to the character images
        const characterImages = document.querySelectorAll(".grid1 img");
        characterImages.forEach(img => {
          img.addEventListener("click", function() {
            const id = this.id;
            const characterStats = document.querySelector(".character-stats1");
            // Get the character stats based on the id of the image that was clicked
            let stats;
            switch (id) {
              case "character-1":
                stats = {
                  Name: "Jojo",
                  Strength: 200,
                  Hp: 200,
                  Intelligence: 200,
                  Dodge: 50,
                  CritChance: 100
                };
                path = "public\\images\\jojo.png";
                break;
              case "character-2":
                stats = {
                  Name: "Spiderman",
                  Strength: 120,
                  Hp: 150,
                  Intelligence: 180,
                  Dodge: 50,
                  CritChance: 20
                };
                path = "public\\images\\spiderman.png";
                break;
              case "character-3":
                stats = {
                  Name: "Policier",
                  Strength: 100,
                  Hp: 120,
                  Intelligence: 200,
                  Dodge: 60,
                  CritChance: 15
                };
                path = "public\\images\\policier.png";
                break;
              case "character-4":
                stats = {
                  Name: "Hulk",
                  Strength: 140,
                  Hp: 180,
                  Intelligence: 160,
                  Dodge: 40,
                  CritChance: 25
                };
                path = "public\\images\\hulk.png";
                break;
              case "character-5":
                stats = {
                  Name: "Black Widow",
                  Strength: 180,
                  Hp: 100,
                  Intelligence: 120,
                  Dodge: 70,
                  CritChance: 30
                };
                path = "public\\images\\blackwidow.png";
                break;
              case "character-6":
                stats = {
                  Name: "Iron Man",
                  Strength: 100,
                  Hp: 160,
                  Intelligence: 140,
                  Dodge: 50,
                  CritChance: 35
                };
                path= "public\\images\\fer man.png";
                break;
              
              case "character-7":
                stats = {
                  Name: "Black Panther",
                  Strength: 120,
                  Hp: 140,
                  Intelligence: 180,
                  Dodge: 60,
                  CritChance: 40
                };
                path = "public\\images\\black panther.png";	
                break;
              
              case "character-8":
                stats = {
                  Name: "Superman",
                  Strength: 160,
                  Hp: 180,
                  Intelligence: 100,
                  Dodge: 70,
                  CritChance: 45
                };
                path = "public\\images\\superman.png";
                break;
              case "character-9":
                stats = {
                  Name: "Wonder Woman",
                  Strength: 180,
                  Hp: 120,
                  Intelligence: 160,
                  Dodge: 40,
                  CritChance: 50
                };
                path = "public\\images\\wonder woman.png";
                break;
              case "character-10":
                stats = {
                  Name: "Captain America",
                  Strength: 140,
                  Hp: 160,
                  Intelligence: 120,
                  Dodge: 60,
                  CritChance: 55
                };
                path = "public\\images\\amerique man.png";
            }
            selectedCharacter1 = stats;
            // Update the character stats on the page
            const characterStatsContainer = document.querySelector(".character-stats1");
            characterStatsContainer.innerHTML = "";
            for (const key in stats) {
              const stat = document.createElement("div");
              stat.classList.add("stat");
              stat.innerHTML = `<strong>${key}:</strong> ${stats[key]}`;
              stat.style.color = "white";
              characterStatsContainer.appendChild(stat);
            }
            // Create the character image
            const characterImage = document.createElement("img");
            characterImage.src = id + ".png";
            characterImage.alt = "Character image";
            characterImage.style.width = "30%";
            characterImage.style.height = "auto";
            characterImage.style.marginLeft = "10px";
            characterImage.src = path;
            console.log(characterImage);

            // Add the character image to the character stats
            characterStats.appendChild(characterImage);
            if (selectedCharacter1 && selectedCharacter2) {
              document.querySelector("#fight-button").removeAttribute("disabled");
            }

          });
        });
        // Add event listeners to the character images
        const characterImages2 = document.querySelectorAll(".grid2 img");
        characterImages2.forEach(img => {
          img.addEventListener("click", function() {
            const id = this.id;
            const characterStats = document.querySelector(".character-stats2");
            // Get the character stats based on the id of the image that was clicked
            let stats;
            switch (id) {
              case "character-1":
                stats = {
                  Name: "Jojo",
                  Strength: 200,
                  Hp: 200,
                  Intelligence: 200,
                  Dodge: 50,
                  CritChance: 100
                };
                path = "public\\images\\jojo.png";
                break;
              case "character-2":
                stats = {
                  Name: "Spiderman",
                  Strength: 120,
                  Hp: 150,
                  Intelligence: 180,
                  Dodge: 50,
                  CritChance: 20
                };
                path = "public\\images\\spiderman.png";
                break;
              case "character-3":
                stats = {
                  Name: "Policier",
                  Strength: 100,
                  Hp: 120,
                  Intelligence: 200,
                  Dodge: 60,
                  CritChance: 15
                };
                path = "public\\images\\policier.png";
                break;
              case "character-4":
                stats = {
                  Name: "Hulk",
                  Strength: 140,
                  Hp: 180,
                  Intelligence: 160,
                  Dodge: 40,
                  CritChance: 25
                };
                path = "public\\images\\hulk.png";
                break;
              case "character-5":
                stats = {
                  Name: "Black Widow",
                  Strength: 180,
                  Hp: 100,
                  Intelligence: 120,
                  Dodge: 70,
                  CritChance: 30
                };
                path = "public\\images\\blackwidow.png";
                break;
              case "character-6":
                stats = {
                  Name: "Iron Man",
                  Strength: 100,
                  Hp: 160,
                  Intelligence: 140,
                  Dodge: 50,
                  CritChance: 35
                };
                path= "public\\images\\fer man.png";
                break;
              
              case "character-7":
                stats = {
                  Name: "Black Panther",
                  Strength: 120,
                  Hp: 140,
                  Intelligence: 180,
                  Dodge: 60,
                  CritChance: 40
                };
                path = "public\\images\\black panther.png";	
                break;
              
              case "character-8":
                stats = {
                  Name: "Superman",
                  Strength: 160,
                  Hp: 180,
                  Intelligence: 100,
                  Dodge: 70,
                  CritChance: 45
                };
                path = "public\\images\\superman.png";
                break;
              case "character-9":
                stats = {
                  Name: "Wonder Woman",
                  Strength: 180,
                  Hp: 120,
                  Intelligence: 160,
                  Dodge: 40,
                  CritChance: 50
                };
                path = "public\\images\\wonder woman.png";
                break;
              case "character-10":
                stats = {
                  Name: "Captain America",
                  Strength: 140,
                  Hp: 160,
                  Intelligence: 120,
                  Dodge: 60,
                  CritChance: 55
                };
                path = "public\\images\\amerique man.png";
            }

            selectedCharacter2 = stats;

            // Update the character stats on the page
            const characterStatsContainer = document.querySelector(".character-stats2");
            characterStatsContainer.innerHTML = "";
            for (const key in stats) {
              const stat = document.createElement("div");
              stat.classList.add("stat");
              stat.innerHTML = `<strong>${key}:</strong> ${stats[key]}`;
              stat.style.color = "white";
              characterStatsContainer.appendChild(stat);
            }
            // Create the character image
            const characterImage = document.createElement("img");
            characterImage.src = id + ".png";
            characterImage.alt = "Character image";
            characterImage.style.width = "30%";
            characterImage.style.height = "auto";
            characterImage.style.marginLeft = "10px";
            characterImage.src = path;
            console.log(characterImage);

            // Add the character image to the character stats
            characterStats.appendChild(characterImage);
            if (selectedCharacter1 && selectedCharacter2) {
              document.querySelector("#fight-button").removeAttribute("disabled");
            }

          });
        });
        function fight() {
          // Calculate the stats of the two characters
          const character1Score = (2 * selectedCharacter1.Hp + 3 * selectedCharacter1.Intelligence + 4 * selectedCharacter1.Strength + selectedCharacter1.Dodge) / 10 + selectedCharacter1.CritChance;
          const character2Score = (2 * selectedCharacter2.Hp + 3 * selectedCharacter2.Intelligence + 4 * selectedCharacter2.Strength + selectedCharacter2.Dodge) / 10 + selectedCharacter2.CritChance;
          // Determine the winner
          const winner = character1Score > character2Score ? selectedCharacter1.Name : selectedCharacter2.Name;
          // Display the winner
          document.querySelector("#winner").textContent = `Winner: ${winner}`;
          console.log(winner)

        }
  
  // Add event listener to the fight button
          document.querySelector("#fight-button").addEventListener("click", fight);
      </script>
    </html>

    