<!DOCTYPE html>
<html>
      <head>
        <style>
          /* Add your CSS styles here */
          .container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            
          }
          .banner {
            display: flex;
            height: 50vh;
            border-color: black;
          
            background:  linear-gradient(90deg, rgba(18,94,203,1) 0%, rgba(67,21,198,1) 46%, rgba(170,18,55,1) 60%, rgba(255,164,0,1) 100%);

          }
          .left-side {
            background: linear-gradient(to bottom, #113af1, #79bde7),;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .right-side {
            background-color: red;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .side {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .logo {
            background-color: white(0%, 0%, 100%, 0.75);
            border-radius: 50%;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          
          
          .character-stats {
            position: absolute;
            bottom: 20%;
            left: 20%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .stat {
            margin-bottom: 10px;
          }
          .grid1 {
            margin-bottom: 64px;
            border-radius: 16px;
        border: 3px solid #46F4FF;
        border-radius: 40px;
            background-color: #323232;
            border-radius: 16px;
            position: relative;
        display: grid;
        width: 80%;
        height: 100%;
        grid-template-columns: repeat(5, 1fr);
        
        grid-gap: 10px;
        padding: 10px;
      }
      .gridbtn1 {
        border-radius: 16px;
        border: 3px solid #46F4FF;
        border-radius: 40px;
      }
      .gridbtn2 {
        border: 3px solid #FFA34F;
        border-radius: 40px;
      }
      .grid1 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            border-radius: 48px;
          }
          .grid2 {
            margin-bottom: 64px;
            background: #323232;
            border: 3px solid #FFA34F;
            border-radius: 40px;
            position: relative;
            display: grid;
            width: 80%;
            height: 100%;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            
            grid-gap: 10px;
            padding: 10px;
      }
      .grid2 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            border-radius: 48px;
          }
          .button {
            position: bottom;
          }
        </style>
      </head>
      <body style="margin: 0;">
       
          <div class="banner" style="  position: relative">
            <img class="logo" src="public\images\logo.png" alt="Round logo" style="position: absolute; ">
          </div>
        
          
        <div style="background:  linear-gradient(90deg, rgba(18,94,203,1) 0%, rgba(67,21,198,1) 46%, rgba(170,18,55,1) 60%, rgba(255,164,0,1) 100%); display: flex; flex-direction: column; align-items: center;">
        <div class="container">
        <div class="side" >
            <div class="grid1" >
            
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/amerique man.png" alt="Character-1-Team1">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/black panther.png" alt="Character-2-Team1">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/policier.png" alt="Character-3-Team1">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/hulk.png" alt="Character-4-Team1">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/jojo.png" alt="Character-5-Team1">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/blackwidow.png" alt="Character-6-Team2">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/fer man.png" alt="Character-7-Team2">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/spiderman.png" alt="Character-8-Team2">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/superman.png" alt="Character-9-Team2">
              </button>
              <button class="btn gridbtn1 btn-primary">
                <img src="public/images/wonder woman.png" alt="Character-10-Team2">
              </button>
            </div>
            <img src="public/images/volcan.png", style="height: 50%; width: 50%;">
            </div>
              <!-- Add more buttons here -->
            <div><img src="public/images/Street_Fighter_VS_logo.png" alt="vs"> </div>
            <div class="side" >
              <div class="grid2">
                <button class="btn gridbtn2 btn-primary">
                  <img src="public/images/amerique man.png" alt="Character-1-Team1">
                </button>
                <button class="btn gridbtn2 btn-primary">
                  <img src="public/images/black panther.png" alt="Character-2-Team1">
                </button>
                <button class="btn gridbtn2 btn-primary">
                  <img src="public/images/policier.png" alt="Character-3-Team1">
                </button>
                <button class="btn gridbtn2 btn-primary">
                  <img src="public/images/hulk.png" alt="Character-4-Team1">
                </button>
                <button class="btn gridbtn2 btn-primary">
                  <img src="public/images/jojo.png" alt="Character-5-Team1">
                </button>
              <button class="btn gridbtn2 btn-primary">
                <img src="public/images/blackwidow.png" alt="Character-6-Team2">
              </button>
              <button class="btn gridbtn2 btn-primary">
                <img src="public/images/fer man.png" alt="Character-7-Team2">
              </button>
              <button class="btn gridbtn2 btn-primary">
                <img src="public/images/spiderman.png" alt="Character-8-Team2">
              </button>
              <button class="btn gridbtn2 btn-primary">
                <img src="public/images/superman.png" alt="Character-9-Team2">
              </button>
              <button class="btn gridbtn2 btn-primary">
                <img src="public/images/wonder woman.png" alt="Character-10-Team2">
              </button>
              <!-- Add more buttons here -->
            </div>
            <img src="public/images/volcan.png", style="height: 50%; width: 50%;">


         
        </div>
       
      </div>
      <div class="button"><button style="background-color: transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;    " ><img src="public/images/fight.png"></button></div>
      
        
      
        
          
       
      
        <div class="character-stats"></div>
    </div>   <!-- Character stats will be added here -->
          
      </body>
      
    </html>

    